<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

	<appSettings>
		<add key="MailServer" value="mail server address" />
		<add key="MailUsername" value="mail username " />
		<add key="MailPassword" value="mail password" />
		<add key="MailFrom" value="mail address" />
		<add key="EnableErrorLogEmail" value="false" />
		<add key="ErrorLogEmail" value="freddie.espiritu@yahoo.com" />

		<add key="ProductsPerPage" value="6"/>
		<add key="ProductDescriptionLength" value="60"/>
		<add key="SiteName" value="BalloonShop"/>
	</appSettings>

	<connectionStrings>
		<add name="BalloonShopConnection" connectionString="Server=FERDINAND229C; Database=BalloonShop; User=balloonshop; Password=ecommerce" providerName="System.Data.SqlClient" />
	</connectionStrings>

	
	<system.web>
		<customErrors mode="On" defaultRedirect="Oops.aspx"/>
    <compilation targetFramework="4.0" debug="true"/>
    <pages theme="BalloonShopDefault"
		controlRenderingCompatibilityVersion="3.5" 
		   clientIDMode="AutoID"/>
  </system.web>
</configuration>