body {
}

.Header
{
    font-size:large;
    font-family:Lucida Sans;
    margin: 20px;    
}

.Container
{
    font-size:small;
    font-family:Lucida Sans;
    border: solid;
    margin:50px  20px 20px 20px;
    float:left;
    line-height:100px;
}

.Right
{
    
}